route:
  group_by: ['alertname', 'job']

  group_wait: 40s
  group_interval: 3m
  repeat_interval: 2h

  receiver: discord

receivers:
- name: discord
  discord_configs:
  - webhook_url: '{{ discord_url }}'
