upstream  {{ nginx_site_name }} {
        server localhost:{{ nginx_port }};
}

server {
        server_name {{ nginx_site_name }};
        listen 80;
        access_log /var/log/nginx/sites/$server_name.http.log;
        rewrite ^ https://$server_name$request_uri? permanent;
}
server {
        server_name {{ nginx_site_name }};
        listen 443 ssl;
        access_log /var/log/nginx/sites/$server_name.https.log;
        ssl_certificate /etc/nginx/ssl/labs-monitor-blr.pem;
        ssl_certificate_key /etc/nginx/ssl/labs-monitor-blr.key;
        charset utf-8;
        client_max_body_size 16m;
        keepalive_timeout 70;
        client_body_timeout 10;
        client_header_timeout 10;
        client_header_buffer_size 128;
        location / {
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_pass http://{{ nginx_site_name }};
        }
}